.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;

  transition: filter 0.2s ease-in-out;

  background-color: var(--color-accent-transparent);

  border-bottom: 1px solid var(--color-accent-primary);

  user-select: none;

  cursor: pointer;

  &:hover {
    filter: brightness(1.6);
  }

  &:active {
    filter: brightness(0.6);
  }
}