.container {
  width: 510px;
  height: 610px;

  background-color: var(--color-background-tertiary);

  overflow: scroll;


  .mainContainer {
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;

    gap: 54px;

    width: 100%;

    padding-inline: 20px;
    padding-block: 24px;

    background-color: var(--color-background-primary);

    border-bottom-left-radius: 24px;
    border-bottom-right-radius: 24px;

    header {
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      width: 100%;

      .profile {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 12px;

        .profileImage {
          width: 28px;
          height: 28px;

          border-radius: 50%;

          background-color: var(--color-content-invert)
        }
      }
    }

    .goalContainer {
      width: 100%;

      .headlineContainer {
        width: 100%;

        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;

        gap: 22px;

        .tagContainer {
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;

          gap: 6px;

          .headlineTag {
            padding-inline: 10px;
            padding-block: 5px;

            background-color: var(--color-accent-transparent);
            border-radius: 3px;
          }
        }
      }
    }

    .progressContainer {
      width: 100%;

      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      gap: 8px;

      .progressHeadlineContainer {
        display: flex;
        flex-direction: row;

        width: 100%;
        justify-content: space-between;
      }

      .progress {
        width: 100%;
        background-color: var(--color-background-tertiary);
        height: 7px;

        border-radius: 20px;

        .progressBar {
          height: 100%;
          background-color: var(--color-accent-primary);

          border-radius: 20px;

          animation: progress 1s ease-in-out forwards;
        }
      }
    }
  }

  .listContainer {
    width: 100%;

    padding-inline: 20px;
    padding-block: 24px;

    display: flex;
    flex-direction: column;

    gap: 22px;

    .listHeadlineContainer {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;

      gap: 10px;
    }

    .wordList {


      display: grid;

      grid-template-columns: repeat(2, 1fr);
      grid-auto-rows: 1fr;

      column-gap: 8px;
      row-gap: 8px;

      .word {
        width: 100%;
      }
    }
  }
}

@keyframes progress {
  from {
    width: 0;
  }

  to {
    width: 90%;
  }
}